
@font-face {
    font-family: 'mathilde';
    src: url('../font/mathilde/regular/mathilde-webfont.eot');
    src: url('../font/mathilde/regular/mathilde-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/mathilde/regular/mathilde-webfont.woff') format('woff'),
         url('../font/mathilde/regular/mathilde-webfont.ttf') format('truetype'),
         url('../font/mathilde/regular/mathilde-webfont.svg#mathilderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'desyrel';
    src: url('../font/desyrel/regular/desyrel_-webfont.eot');
    src: url('../font/desyrel/regular/desyrel_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/desyrel/regular/desyrel_-webfont.woff') format('woff'),
         url('../font/desyrel/regular/desyrel_-webfont.ttf') format('truetype'),
         url('../font/desyrel/regular/desyrel_-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}