

[class*="span"] {
    margin-left: 20px;
}
.span9 {
    width: 700px;
}
.span12 {
    width: 940px;
}
.span3 {
    width: 220px;
}
.span8 {
    width: 620px;
}
.span4 {
    width: 300px;
}
.span2 {
    width: 140px;
}
.offset8 {
    margin-left: 660px;
}







.orderpage {
	width:960px;
	margin:0 auto;
}
.orderpage ul {
    list-style: none;
}
.orderpage input:focus {
	box-shadow:none;
}
.orderpage h1,
.orderpage h2 {
	color:#515965 !important;
	font-size:30px;
	line-height:30px;
	margin:0 0 5px 20px !important;
}
.orderpage h2 {
	font-size:24px;
	line-height:24px;
}
.orderpage h3 {
	color:#677180 !important;
	font-size:18px;
	font-weight:normal;
	margin:0 0 25px 0 !important;
	line-height:13px;
	opacity:.8;
	font-style:italic;
}
.orderpage .span4 > div > h2,
.orderpage .span4 > div > h3,
.orderpage .span8 > div > h2,
.orderpage .span8 > div > h3 {
	margin-left:0;
}





.services-type {
	text-align:center;
	margin-bottom:32px;
}
.services-type li {
	float:none;
	display:inline-block;
}
.services-type li.separator {
	background:#cbced1;
	width:1px;
	height:14px;
	display:inline-block;
	vertical-align:top;
}
.services-type li a {
	color:#313131;
	font-size:12px;
}
.services-type li a:hover,
.services-type li a:focus {
	background:none;
	color:#5a5a5a;
}
.services-type li.active a,
.services-type li.active a:hover,
.services-type li.active a:focus {
	background:none;
	color:#313131;
	font-weight:bold;
}

.orderpage hgroup {
	margin-bottom:45px;
}
.orderpage hgroup > * {
	text-align:center;
}
.orderpage hgroup h2 {
	color:#677180;
	font-size:13px;
	margin:0;
	line-height:20px;
	opacity:.8;
}
.orderpage hgroup h1 {
	color:#515965;
	font-size:30px;
	font-weight:normal;
	margin-bottom:5px;
}






/* Plans */

.plan-list {
	margin-left:0;
}
.plan-list > li {
	margin-bottom:20px;
}
.plan {
	background:#ffffff;
	border:1px solid #d2d5da;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
	border-radius:6px;
	overflow:hidden;
}
.plan:hover,
.plan:focus {
	border-color:#6db828;
	box-shadow:0 0 2px 0 #6db828;
}
.plan:hover .plan-features,
.plan:focus .plan-features {
	background:#ecf5e5;
}
.plan:hover .more-details,
.plan:focus .more-details {
	background:#6db828;
}
.plan:hover .more-details a,
.plan:focus .more-details a {
	color:#fff;
}
.plan .plan-top {
	padding:10px;
	border-bottom:1px solid #d8dadf;
}
.plan .plan-top p {
	color:#6db828;
	font-size:14px;
	font-weight:bold;
	margin-bottom:0;
	line-height:14px;
    line-height: 30px;
}
.plan .plan-top span {
	color:#677180;
	font-size:12px;
}
.plan .right-text {
	margin-top:12px;
}
.plan .right-text a {
	margin:-12px 0 0 10px;
}
.plan .right-text span {
	color:#525a66;
	font-size:24px;
	font-weight:bold;
}
.plan .right-text span small {
	color:#7c889a;
	font-size:14px;
	margin-left:-5px;
}
.plan-order {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	background:#6db828;
	padding:5px 10px;
	border-radius:4px;
	display:inline-block;
	vertical-align:top;
}
.plan-order:hover,
.plan-order:focus {
	color:#fff;
	background:#81cb3d;
	text-decoration:none;
}
.plan-details {
	background:#dee1e6;
}
.plan-features {
	background:#e9ecf1;
	margin-left:0;
	width:570px;
	padding:10px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #c6c8cd;
}
.plan-features li {
	display:inline-block;
	margin-left:25px;
	padding-right:25px;
	border-right:1px solid #cfd3da;
}
.plan-features li:nth-child(n+5) {
	padding-right:0;
	border:none;
}
.plan-features p {
	color:#7c889a;
	font-size:12px;
	margin:0;
	line-height:14px;
}
.plan-features span {
	color:#525a66;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
}
.more-details {
	width:107px;
}
.more-details a {
	color:#525a66;
	font-size:12px;
	font-weight:bold;
	display:block;
	line-height:54px;
	text-align:center;
}
.plan:hover .icon-down-arrow,
.plan:focus .icon-down-arrow {
	background-position:-15px 0;
}
.no-ml {
	margin-left:0 !important;
}
.hidden-details {
	background:#e9ecf1;
	border-top:1px solid #cfd3da;
	padding:10px 20px;
	display:none; 
}
.hidden-details p {
	color:#535b67;
	font-size:12px;
	margin-bottom:0;
	padding-bottom:5px;
}
/* End of Plans */






/* What's included */

.span3 p {
	color:#677180;
	font-size:13px;
}
.included-list {
	margin:0;
}
.included-list li {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #d7d9dd;
}
.included-list li:last-child {
	border-bottom:none;
}
.included-item > span {
	color:#fff;
	font-size:10px;
	font-weight:bold;
	font-style:italic;
	background:#e74c3c;
	width:19px;
	height:19px;
	border-radius:50%;
	display:inline-block;
	text-align:center;
	margin-top:2px;
	float:left;
}
.included-text {
	padding-left:30px;
}
.included-text p {
	color:#677180;
	font-size:14px;
	font-weight:bold;
}
.included-text span {
	color:#828a97;
	font-size:12px;
}

/* End of What's included */





/* Cart */

.summary-bg {
    background: #fff;
    border-radius: 6px 6px 0 0;
    padding: 10px 20px 15px;
	border:1px solid #d2d5da;
}
.summary-bg table {
    color: #FFFFFF;
    margin: 5px 0 10px;
}
.summary-bg table th {
	color:#6db828;
	font-size:10px;
	font-weight:bold;
    border-top: none;
	border-bottom:1px solid #ececec;
    padding: 10px 10px 10px 5px;
}
.summary-bg table td {
	color:#677180;
	font-size:13px;
	border:none;
    padding: 14px 0 13px 5px;
}
.summary-bg td.price-col {
    vertical-align: bottom;
}
.total-summary {
    border-top: 2px solid #eff0f2;
    padding-top: 20px;
}
.total-summary p.total-text {
    color: #677180;
	font-size:13px;
    margin-bottom: 3px;
    text-align: right;
}
.total-summary p.total-price {
    color: #677180;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
.promo-code {
    background: #e9ecf1;
    border-radius: 0 0 6px 6px;
    padding: 10px 20px;
	border:1px solid #d2d5da;
	border-top:none;
}
.promo-code p {
    color: #525a66;
    font-size: 13px;
    font-weight: bold;
	margin-bottom:5px;
}
.promo-code .input-append input {
    border-radius: 2px 0 0 2px;
	width:250px;
}
.promo-code .input-append a {
    border-radius: 0 4px 4px 0;
    display: inline-block;
    height: 35px;
    padding: 0 8px;
    vertical-align: top;
}

/* End of Cart */





/* Step 2 & 3*/

.domain-choose {
	border-top:1px solid #cfd2d6;
	padding-top:15px;
	margin-top:-15px;
}
.domain-choose p {
	color:#515965;
	font-weight:bold;
}
.domain-choose > ul {
	margin:15px 0 25px 0;
}
.domain-choose li {
	color:#6e7580;
	font-size:12px;
	margin-bottom:7px;
}
.domain-choose textarea {
	float:left;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.15);
}
.domain-extension {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 10px;
    vertical-align: top;
}
.domain-extension li {
    color: #686D73;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 15px 15px;
}
.domain-extension li input {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
	margin-top:0;
}
.nav-steps {
	margin-top:50px;
}
.btn-step {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	background:#6db828;
	padding:5px 10px;
	text-shadow:none;
	box-shadow:none;
	border-radius:8px;
}
.right-txt {
	text-align:right;
}
.btn-step:hover,
.btn-step:focus {
	color:#fff;
	background:#80cb3c;
}

.available-domains {
	margin-top:30px;
}
.available-domains table th {
	color:#515965;
	font-size:14px;
	font-weight:bold;
	border-top:none;
	border-bottom:1px solid #cfd2d6;
}
.available-domains table td {
	color:#6e7580;
	font-size:12px;
	border:none;
	vertical-align:middle;
}
.available-domains table td select {
	margin:0;
}
.available-domains table td input {
	display:inline-block;
	vertical-align:middle;
	margin:-2px 3px 0 0;
}

/* End of Step 2 & 3 */




/* Step 4 */

.product-configuration,
.server-configuration {
	border-top:1px solid #cfd2d6;
	padding-top:5px;
	margin-top:-10px;
	margin-bottom:80px;
}
.server-configuration {
	margin-bottom:0;
}
.table-product-config td  {
	color:#515965;
	font-weight:bold;
	border:none;
	vertical-align:middle;
}
.table-product-config td.field-col {
	width:406px;
}
.table-product-config td select {
	margin:0;
}

/* End of Step 4 */



/* Step 5 */


.order-details,
.payment-method,
.client-details,
.additional-information {
	border-top:1px solid #cfd2d6;
	padding-top:5px;
	margin-top:-10px;
	margin-bottom:40px;
}

.order-details .table-bg {
	background:#fff;
	border-radius:6px;
	border:1px solid #d2d5da;
	margin-top:15px;
}
.order-details .table-bg > .padding {
	padding:5px 10px;
}
.order-details .table-bg table {
    color: #FFFFFF;
    margin: 5px 0 10px;
}
.order-details .table-bg table th {
	color:#6db828;
	font-size:10px;
	font-weight:bold;
    border-top: none;
	border-bottom:1px solid #ececec;
    padding: 10px 10px 10px 5px;
	text-transform:uppercase;
}
.order-details .table-bg table td {
	color:#677180;
	font-size:13px;
	border:none;
    padding: 14px 0 13px 5px;
}
.order-details .table-bg td.total-due-price {
	font-size:24px;
	font-weight:bold;
}
.order-details .table-bg tr.border-top,
.order-details .table-bg tr.border-top td  {
	border-top:1px solid #ececec;
}
.order-details .table-bg > .padding > p {
	color:#2e89e5;
	font-size:13px;
	font-weight:bold;
	margin-bottom:2px;
}

.payment-method ul {
	margin:0;
	text-align:center;
}
.payment-method ul li {
	color:#515965;
	display:inline-block;
	margin:10px;
}
.payment-method ul li input {
	display:inline-block;
	vertical-align:top;
	margin:0 3px 0 0 !important;
}

.orderpage .client-details table {
	background:none;
}

.client-details table td {
	color:#515965;
	font-weight:bold;
	border:none;
	padding-left:0;
	padding-right:0;
}
.client-details table td label {
	color:#515965;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0;
}
.orderpage input[type=radio],
.orderpage input[type=checkbx] {
	padding:0;
	margin-top:0;
	height:auto;
}
.orderpage input,
.orderpage select {
	color:#333;
	background:#f9f9fb;
	font-size:12px;
	height:28px;
	padding:3px 6px;
	border-radius:4px;
	border:1px solid #cacacc;
	box-shadow:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	transition: border 0.25s linear 0s;
}
.orderpage input:hover,
.orderpage select:hover,
.orderpage textarea:hover,
.orderpage input:focus,
.orderpage select:focus,
.orderpage textarea:focus {
	border-color:#6db828;
	transition:all 0.3s ease;
}
.client-details td input {
	width:100%;
}




/* Additional Information */

.additional-information textarea {
	margin-top:10px;
	width:100%;
	min-height:100px;
}
.orderpage textarea {
	color:#333;
	background:#f9f9fb;
	font-size:14px;
	padding:5px 10px;
	border-radius:4px;
	border:1px solid #cacacc;
	box-shadow:none;
	box-sizing:border-box;
	resize:vertical;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	transition: border 0.25s linear 0s;
}
.additional-information textarea:focus {
	outline:none;
}
.tos {
	width:100%;
	margin-top:15px;
	padding-bottom:25px;
}
.tos p, .tos p a {
	color:#798499;
	font-size:12px;
	text-align:center;
	margin:0;
}
.tos p input {
	display:inline-block;
	vertical-align:middle;
	margin:-2px 5px 0 0;
}
.tos p a {
	font-weight:bold;
}
.tos p a:hover {
	color:#687286;
}




/* End of Step 5 */




/* Img */

.icon-plan-list,
.icon-about-us {
	width:20px;
	height:20px;
	display:inline-block;
}
.icon-plan-list {
	background:url(../orderpage-img/section-icons.png);
	margin:0 3px 0 0;
}
.icon-about-us {
	background:url(../orderpage-img/section-icons.png) -20px 0;
	margin:0 3px 0 0;
}
.icon-red-ok {
	background:url(../orderpage-img/ok-icon.png);
	width:12px;
	height:12px;
	display:inline-block;
}

.icon-down-arrow {
	background:url(../orderpage-img/down-arrow.png);
	width:15px;
	height:15px;
	display:inline-block;
	margin:-1px 0 0 2px;
}
.icon-step-prev,
.icon-step-next {
	width:10px;
	height:10px;
	display:inline-block;
	margin:2px 0 0 0;
}
.icon-step-prev {
	background:url(../orderpage-img/sides-arrows.png);
}
.icon-step-next {
	background:url(../orderpage-img/sides-arrows.png) -10px 0;
}



.half-opacity {
    opacity: .5;
}
.order-form {
    display: inline-block;
}
.domain-options {
    margin: 0;
}
.domain-options li input {
    margin-right: 5px;
}
#sidemenu {
    display: none;
}
.domain-option {
    margin-bottom: 25px;
}
.orderpage table,
.orderpage table tr:hover td,
.orderpage table tr:hover th {
    background: none;
}
.table-product-config tr.cf-radio td.text-col,
.table-product-config tr.cf-checkbox td.text-col {
    vertical-align: top;
}
tr.cf-radio td.field-col br {
    margin-bottom: 5px;
}
tr.cf-checkbox td.field-col input {
    margin-top: 0;
}
.prod-desc {
    font-weight: normal;
    opacity: .5;
}
.client-details table td label {
    display: block !important;
}
.client-toggle {
    margin-top: -45px;
    position:relative;
}
.contact-underline {
    background: #CFD2D6;
    width: 100%;
    height: 1px;
    margin-top: -10px;
}
.wbox_content.ccform label {
    color: #515965;
    display: block !important;
}
#card_types {
    margin-left: 50px;
}
#gatewayform {
    margin-bottom: 25px;
}
.tpl_sidepadtheme .white-space span {
    vertical-align:middle;
}
#updater .newchecker div > span {
    vertical-align: middle;
}
#updater label.btnfix {
    display: none;
    margin-top: -10px;
}
#updater table td {
    padding-right: 15px;
}
#updater {
    margin-top: 15px;
}
#updater .btn.padded {
    margin-top: 10px;
}
.btn.domain-check,
.btn.padded {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: none;
    background:#5bae21;
    background-image: linear-gradient(top, #83c431, #5bae21);
    background-image: -moz-linear-gradient(top, #83c431, #5bae21);
    background-image: -webkit-linear-gradient(top, #83c431, #5bae21);
    background-image: -o-linear-gradient(top, #83c431, #5bae21);
    background-image: -ms-linear-gradient(top, #83c431, #5bae21);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83c431', endColorstr='#5bae21', GradientType=0);
    zoom:1;
}

.btn.domain-check:hover,
.btn.padded:hover,
.btn.domain-check:focus,
.btn.padded:focus {
    color: #fff;
    background:#5fb523;;
    background-image: linear-gradient(top, #8ace35, #5fb523);
    background-image: -moz-linear-gradient(top, #8ace35, #5fb523);
    background-image: -webkit-linear-gradient(top, #8ace35, #5fb523);
    background-image: -o-linear-gradient(top, #8ace35, #5fb523);
    background-image: -ms-linear-gradient(top, #8ace35, #5fb523);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ace35', endColorstr='#5fb523', GradientType=0);
    zoom:1;
}

.server-configuration .slides {
    left: -20px;
    height: 8px;
    border-radius: 10px;
}
.server-configuration .ui-widget-header {
    background: #82C330;
    height: 8px;
    border-radius: 8px;
}
.server-configuration .slides .sl,
.server-configuration .slides .sr {
    display: none;
}
.server-configuration .ui-slider-handle {
    margin: -2px 0 0 -5px;
}
#promoform input,
.promo-code input {
    margin-bottom: 0;
}
.wbox_content {
    box-shadow: none !important;
}
.client-details tr.even td {
    background: none !important;
}
.tpl_sidepadtheme #promoform .span3,
.promo-code .span3 {
    width: 215px !important;
}
.domain-choose table td {
    color: #6E7580 !important;

}